$Warframe-symbols-font: "Warframe-symbols"

@font-face
    font-family: $Warframe-symbols-font
    src: url("./Warframe-symbols.eot?35144b5c113511a18e4992dd625ce91d#iefix") format("embedded-opentype"), url("./Warframe-symbols.woff?35144b5c113511a18e4992dd625ce91d") format("woff"), url("./Warframe-symbols.woff2?35144b5c113511a18e4992dd625ce91d") format("woff2"), url("./Warframe-symbols.ttf?35144b5c113511a18e4992dd625ce91d") format("truetype"), url("./Warframe-symbols.svg?35144b5c113511a18e4992dd625ce91d#Warframe-symbols") format("svg")

i[class^="icon-"]:before, i[class*=" icon-"]:before
    font-family: Warframe-symbols !important
    font-style: normal
    font-weight: normal !important
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

$Warframe-symbols-map: (
    "wfcd": "\f101",
    "the_hex": "\f102",
    "standing": "\f103",
    "sp-logo": "\f104",
    "solaris": "\f105",
    "simaris": "\f106",
    "ostron": "\f107",
    "nightwave": "\f108",
    "nightmare": "\f109",
    "loading": "\f10a",
    "hexis": "\f10b",
    "entrati": "\f10c",
    "archwing": "\f10d",
    "arbitrations": "\f10e",
    "sigils-Neutral": "\f10f",
    "sigils-NegativeRank2": "\f110",
    "sigils-NegativeRank1": "\f111",
    "requiem-Xata": "\f112",
    "requiem-Vome": "\f113",
    "requiem-Ris": "\f114",
    "requiem-Oull": "\f115",
    "requiem-Netra": "\f116",
    "requiem-Lohk": "\f117",
    "requiem-Khra": "\f118",
    "requiem-Jahu": "\f119",
    "requiem-Fass": "\f11a",
    "nightwaves-weekly": "\f11b",
    "nightwaves-elite": "\f11c",
    "nightwaves-daily": "\f11d",
    "kuva-kuvaflood": "\f11e",
    "kuva-kuva": "\f11f",
    "menu-WoundedInfestedPredator": "\f120",
    "menu-WoundedInfestedCritter": "\f121",
    "menu-Wild": "\f122",
    "menu-Weapons": "\f123",
    "menu-WarframeOff": "\f124",
    "menu-Warframe": "\f125",
    "menu-VehiclesKdrive": "\f126",
    "menu-Utility2": "\f127",
    "menu-Utility": "\f128",
    "menu-Tenets": "\f129",
    "menu-Teleport": "\f12a",
    "menu-Tactical": "\f12b",
    "menu-Synthetics2": "\f12c",
    "menu-Synthetics": "\f12d",
    "menu-Swatch": "\f12e",
    "menu-Strike": "\f12f",
    "menu-Stance": "\f130",
    "menu-SquareVial": "\f131",
    "menu-Solaris": "\f132",
    "menu-Skins": "\f133",
    "menu-Simaris": "\f134",
    "menu-Sigils": "\f135",
    "menu-Shotgun": "\f136",
    "menu-Sentinel": "\f137",
    "menu-Salvage": "\f138",
    "menu-RoundVial": "\f139",
    "menu-RivenMod": "\f13a",
    "menu-RifleOff": "\f13b",
    "menu-Rifle": "\f13c",
    "menu-ResourceDrone": "\f13d",
    "menu-ResearchTenno": "\f13e",
    "menu-ResearchRailjack": "\f13f",
    "menu-ResearchOrokin": "\f140",
    "menu-ResearchInfested": "\f141",
    "menu-ResearchGrineer": "\f142",
    "menu-ResearchCorpus": "\f143",
    "menu-RequirementsMet": "\f144",
    "menu-RequiemRelic": "\f145",
    "menu-RequiemMod": "\f146",
    "menu-RelicNeo": "\f147",
    "menu-RelicMeso": "\f148",
    "menu-RelicLith": "\f149",
    "menu-RelicAxi": "\f14a",
    "menu-Relic": "\f14b",
    "menu-RelatedItems": "\f14c",
    "menu-RailjackTurrets": "\f14d",
    "menu-RailjackPilot": "\f14e",
    "menu-RailjackOrdnance": "\f14f",
    "menu-RailjackCountermeasures": "\f150",
    "menu-RailjackAbilities": "\f151",
    "menu-Railjack2": "\f152",
    "menu-Railjack": "\f153",
    "menu-QuestPickerMystery": "\f154",
    "menu-QuestPickerCompleted": "\f155",
    "menu-QuestPickerActive": "\f156",
    "menu-Purchase": "\f157",
    "menu-Prospector": "\f158",
    "menu-PrimeParts": "\f159",
    "menu-PrimaryWeaponSpecial": "\f15a",
    "menu-PrimaryWeaponSpeargun": "\f15b",
    "menu-PrimaryWeaponSniper": "\f15c",
    "menu-PrimaryWeaponShotgun": "\f15d",
    "menu-PrimaryWeaponRifle": "\f15e",
    "menu-PrimaryWeaponLauncher": "\f15f",
    "menu-PrimaryWeaponBow": "\f160",
    "menu-PrexCategory": "\f161",
    "menu-PlayerShip": "\f162",
    "menu-Pistol": "\f163",
    "menu-Pilot": "\f164",
    "menu-Pheromones": "\f165",
    "menu-ParazonLongShadow2": "\f166",
    "menu-ParazonLongShadow": "\f167",
    "menu-ParazonLong": "\f168",
    "menu-Parazon": "\f169",
    "menu-Oxides": "\f16a",
    "menu-OwnedBlueprint": "\f16b",
    "menu-OrokinOn": "\f16c",
    "menu-Operator": "\f16d",
    "menu-Noggles": "\f16e",
    "menu-Natural": "\f16f",
    "menu-ModularItem": "\f170",
    "menu-Mods": "\f171",
    "menu-MkIII": "\f172",
    "menu-MkII": "\f173",
    "menu-MkI": "\f174",
    "menu-Misc": "\f175",
    "menu-Melee": "\f176",
    "menu-MechBoard": "\f177",
    "menu-Mech": "\f178",
    "menu-MaterialsOff": "\f179",
    "menu-Materials": "\f17a",
    "menu-ManufacturerZekti": "\f17b",
    "menu-ManufacturerVidar": "\f17c",
    "menu-ManufacturerSigma": "\f17d",
    "menu-ManufacturerLavan": "\f17e",
    "menu-LotusEmblem": "\f17f",
    "menu-Link": "\f180",
    "menu-LimitedTime": "\f181",
    "menu-LichCategory": "\f182",
    "menu-Lab": "\f183",
    "menu-KuvaLichVanquished": "\f184",
    "menu-KuvaLichTraded": "\f185",
    "menu-KuvaLichConverted": "\f186",
    "menu-KuvaLichActive": "\f187",
    "menu-Kubrow": "\f188",
    "menu-Keys": "\f189",
    "menu-Kavat": "\f18a",
    "menu-Infested": "\f18b",
    "menu-IndividualObstacleCourse": "\f18c",
    "menu-Incomplete": "\f18d",
    "menu-Hall": "\f18e",
    "menu-Gunnery": "\f18f",
    "menu-Grip": "\f190",
    "menu-Grineer": "\f191",
    "menu-Glyph": "\f192",
    "menu-Gift": "\f193",
    "menu-Ghouls": "\f194",
    "menu-GeneticImprint": "\f195",
    "menu-GearWheel": "\f196",
    "menu-Gear": "\f197",
    "menu-Garden": "\f198",
    "menu-Gara": "\f199",
    "menu-Fx": "\f19a",
    "menu-Fusion": "\f19b",
    "menu-FishSmall": "\f19c",
    "menu-FishMedium": "\f19d",
    "menu-FishLarge": "\f19e",
    "menu-Favorite": "\f19f",
    "menu-Exilus": "\f1a0",
    "menu-Equip": "\f1a1",
    "menu-Entrati": "\f1a2",
    "menu-Engineering": "\f1a3",
    "menu-Energy": "\f1a4",
    "menu-Emotes": "\f1a5",
    "menu-Duplicate": "\f1a6",
    "menu-Drone": "\f1a7",
    "menu-Displays": "\f1a8",
    "menu-CraftingMoaModel": "\f1a9",
    "menu-CraftingMoaGyro": "\f1aa",
    "menu-CraftingMoaCore": "\f1ab",
    "menu-CraftingMoaBrackets": "\f1ac",
    "menu-CraftingKitgunPrimaryGrip": "\f1ad",
    "menu-CraftingKitgunLoader": "\f1ae",
    "menu-CraftingKitgunGrip": "\f1af",
    "menu-CraftingKitgunChamber": "\f1b0",
    "menu-CraftingKDriveReactor": "\f1b1",
    "menu-CraftingKDriveNose": "\f1b2",
    "menu-CraftingKDriveJet": "\f1b3",
    "menu-CraftingKDriveBoard": "\f1b4",
    "menu-CraftingHoundTail": "\f1b5",
    "menu-CraftingHoundLegs": "\f1b6",
    "menu-CraftingHoundHead": "\f1b7",
    "menu-CraftingHoundBody": "\f1b8",
    "menu-CraftingAmpScaffold": "\f1b9",
    "menu-CraftingAmpPrism": "\f1ba",
    "menu-CraftingAmpBrace": "\f1bb",
    "menu-Corpus": "\f1bc",
    "menu-Connector": "\f1bd",
    "menu-Command": "\f1be",
    "menu-ClanObstacleCourse": "\f1bf",
    "menu-ChangeSkins": "\f1c0",
    "menu-CetusElder": "\f1c1",
    "menu-Cephalon": "\f1c2",
    "menu-Capacity": "\f1c3",
    "menu-Calx": "\f1c4",
    "menu-Build": "\f1c5",
    "menu-Blueprint": "\f1c6",
    "menu-Biotics": "\f1c7",
    "menu-Bile": "\f1c8",
    "menu-Barracks": "\f1c9",
    "menu-AvionicsTactical": "\f1ca",
    "menu-AvionicsSuper": "\f1cb",
    "menu-AvionicsOffensive": "\f1cc",
    "menu-AvionicsDefensive": "\f1cd",
    "menu-Avionics": "\f1ce",
    "menu-Aura": "\f1cf",
    "menu-Augment": "\f1d0",
    "menu-Armor": "\f1d1",
    "menu-ArchwingSecondary": "\f1d2",
    "menu-ArchwingPrimary": "\f1d3",
    "menu-ArchwingEmblem": "\f1d4",
    "menu-ArchwingColour": "\f1d5",
    "menu-Archwing": "\f1d6",
    "menu-Arcane": "\f1d7",
    "menu-Amp": "\f1d8",
    "menu-All": "\f1d9",
    "fissures-requiem": "\f1da",
    "fissures-neo": "\f1db",
    "fissures-meso": "\f1dc",
    "fissures-lith": "\f1dd",
    "fissures-axi": "\f1de",
    "fissures-5": "\f1df",
    "fissures-4": "\f1e0",
    "fissures-3": "\f1e1",
    "fissures-2": "\f1e2",
    "fissures-1": "\f1e3",
    "factions-sentient": "\f1e4",
    "factions-narmer2": "\f1e5",
    "factions-narmer": "\f1e6",
    "factions-murmur": "\f1e7",
    "factions-infested": "\f1e8",
    "factions-grineer": "\f1e9",
    "factions-corrupted": "\f1ea",
    "factions-corpus": "\f1eb",
    "sigils-Vox-Solaris-VoxLevel5": "\f1ec",
    "sigils-Vox-Solaris-VoxLevel4": "\f1ed",
    "sigils-Vox-Solaris-VoxLevel3": "\f1ee",
    "sigils-Vox-Solaris-VoxLevel2": "\f1ef",
    "sigils-Vox-Solaris-VoxLevel1": "\f1f0",
    "sigils-VentKids-VentKidsLevel5": "\f1f1",
    "sigils-VentKids-VentKidsLevel4": "\f1f2",
    "sigils-VentKids-VentKidsLevel3": "\f1f3",
    "sigils-VentKids-VentKidsLevel2": "\f1f4",
    "sigils-VentKids-VentKidsLevel1": "\f1f5",
    "sigils-The-Quills-QuillsLevel5": "\f1f6",
    "sigils-The-Quills-QuillsLevel4": "\f1f7",
    "sigils-The-Quills-QuillsLevel3": "\f1f8",
    "sigils-The-Quills-QuillsLevel2": "\f1f9",
    "sigils-The-Quills-QuillsLevel1": "\f1fa",
    "sigils-The-Perrin-Sequence-PerrinLevel5": "\f1fb",
    "sigils-The-Perrin-Sequence-PerrinLevel4": "\f1fc",
    "sigils-The-Perrin-Sequence-PerrinLevel3": "\f1fd",
    "sigils-The-Perrin-Sequence-PerrinLevel2": "\f1fe",
    "sigils-The-Perrin-Sequence-PerrinLevel1": "\f1ff",
    "sigils-The-Holdfasts-HoldfastsLevel5": "\f200",
    "sigils-The-Holdfasts-HoldfastsLevel4": "\f201",
    "sigils-The-Holdfasts-HoldfastsLevel3": "\f202",
    "sigils-The-Holdfasts-HoldfastsLevel2": "\f203",
    "sigils-The-Holdfasts-HoldfastsLevel1": "\f204",
    "sigils-Steel-Meridian-SteelMeridianLevel5": "\f205",
    "sigils-Steel-Meridian-SteelMeridianLevel4": "\f206",
    "sigils-Steel-Meridian-SteelMeridianLevel3": "\f207",
    "sigils-Steel-Meridian-SteelMeridianLevel2": "\f208",
    "sigils-Steel-Meridian-SteelMeridianLevel1": "\f209",
    "sigils-Solaris-United-SolarisLevel5": "\f20a",
    "sigils-Solaris-United-SolarisLevel4": "\f20b",
    "sigils-Solaris-United-SolarisLevel3": "\f20c",
    "sigils-Solaris-United-SolarisLevel2": "\f20d",
    "sigils-Solaris-United-SolarisLevel1": "\f20e",
    "sigils-Red-Veil-RedVeilLevel5": "\f20f",
    "sigils-Red-Veil-RedVeilLevel4": "\f210",
    "sigils-Red-Veil-RedVeilLevel3": "\f211",
    "sigils-Red-Veil-RedVeilLevel2": "\f212",
    "sigils-Red-Veil-RedVeilLevel1": "\f213",
    "sigils-Ostron-OstronLevel5": "\f214",
    "sigils-Ostron-OstronLevel4": "\f215",
    "sigils-Ostron-OstronLevel3": "\f216",
    "sigils-Ostron-OstronLevel2": "\f217",
    "sigils-Ostron-OstronLevel1": "\f218",
    "sigils-New-Loka-NewLokaLevel5": "\f219",
    "sigils-New-Loka-NewLokaLevel4": "\f21a",
    "sigils-New-Loka-NewLokaLevel3": "\f21b",
    "sigils-New-Loka-NewLokaLevel2": "\f21c",
    "sigils-New-Loka-NewLokaLevel1": "\f21d",
    "sigils-Necraloid-NecraloidLevel3": "\f21e",
    "sigils-Necraloid-NecraloidLevel2": "\f21f",
    "sigils-Necraloid-NecraloidLevel1": "\f220",
    "sigils-Entrati-EntratiLevel5": "\f221",
    "sigils-Entrati-EntratiLevel4": "\f222",
    "sigils-Entrati-EntratiLevel3": "\f223",
    "sigils-Entrati-EntratiLevel2": "\f224",
    "sigils-Entrati-EntratiLevel1": "\f225",
    "sigils-Cephalon-Suda-CephalonSudaLevel5": "\f226",
    "sigils-Cephalon-Suda-CephalonSudaLevel4": "\f227",
    "sigils-Cephalon-Suda-CephalonSudaLevel3": "\f228",
    "sigils-Cephalon-Suda-CephalonSudaLevel2": "\f229",
    "sigils-Cephalon-Suda-CephalonSudaLevel1": "\f22a",
    "sigils-Arbiters-of-Hexis-ArbitersLevel5": "\f22b",
    "sigils-Arbiters-of-Hexis-ArbitersLevel4": "\f22c",
    "sigils-Arbiters-of-Hexis-ArbitersLevel3": "\f22d",
    "sigils-Arbiters-of-Hexis-ArbitersLevel2": "\f22e",
    "sigils-Arbiters-of-Hexis-ArbitersLevel1": "\f22f",
)

@each $name, $value in ($Warframe-symbols-map)
    .icon-#{$name}:before
        content: $value
